## Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.cache
*.vsidx
*.vspx

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/

## NuGet
[Nn]uGet/
*.nupkg
.nuget/
packages/

## Executables
*.exe
*.dll
*.pdb